.heading{
    font-weight: bold;
    color: black;
}

#para{
    padding: 1rem;
    color: black;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

#box{
    width: 90%;
    background-color: beige;
    margin: 1rem;
}

.list{
    color: green;
    text-decoration: underline  green wavy;
}


div{
    background-color:pink;
    height: 200px;
    width: 400px;
}

ul{
    background-color: blue;
}

li{
    background-color: greenyellow;
}